<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home Page</title>
        <link rel="stylesheet" href="/css/home.css"/>
    </head>

    <header>
        <nav>
            <a href="/"><img class="Logo" src="/images/Logo.png" alt="logo"></a>
            <button class="out" onclick="window.location.href='/on-the-menu'">On The Menu</button>
            <button class="About" onclick="window.location.href='/about'">About</button>
            <button class="Contact" onclick="window.location.href='/contact'">Contact Us</button>
            <button class="Deals" onclick="window.location.href='/deals'">Great Deals</button>
            <button class="Sign-up" onclick="window.location.href='/sign-up'">Sign Up</button>
            <button class="Log-in" onclick="window.location.href='/log-in'">Log In</button>
        </nav>
    </header>

    <div class="hero-section">
        <h1 class="title">culinary parcel</h1>
        <p>A meal delivery company that creates recipes and delivers the ingredients straight to your door</p>
    </div>

    <body>
        <main>
        </main>
    </body>
</html>