<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home Page</title>
        <link rel="stylesheet" href="/css/home.css"/>
        
        <!--Fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap" rel="stylesheet">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    </head>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        
        <div class="container-fluid" style="background-color: antiquewhite;">
            <img src="/images/Logo.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top"
            style="    
            width: 3%;
            border-radius: 50%;">

          <a class="navbar-brand" href="/">Culinary Parcel</a>
          
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              
                <li class="nav-item">
                    <button class="button" data-text="Awesome" onclick="window.location.href='/on-the-menu'">
                        <span class="actual-text">&nbsp;Menu&nbsp;</span>
                        <span aria-hidden="true" class="hover-text">&nbsp;Menu&nbsp;</span>
                    </button>
                </li>
              
                <li class="nav-item">
                    <button class="button" data-text="Awesome" onclick="window.location.href='/meal-kits'">
                        <span class="actual-text">&nbsp;MealKits&nbsp;</span>
                        <span aria-hidden="true" class="hover-text">&nbsp;MealKits&nbsp;</span>
                    </button>
                </li>
              
                <li class="nav-item">
                    <button class="button" data-text="Awesome" onclick="window.location.href='/about'">
                        <span class="actual-text">&nbsp;About&nbsp;</span>
                        <span aria-hidden="true" class="hover-text">&nbsp;About&nbsp;</span>
                    </button>
                </li>

                <li class="nav-item">
                    <button class="button" data-text="Awesome" onclick="window.location.href='/log-in'">
                        <span class="actual-text">&nbsp;LogIn&nbsp;</span>
                        <span aria-hidden="true" class="hover-text">&nbsp;LogIn&nbsp;</span>
                    </button>
                </li>

                <li class="nav-item">
                    <button class="button" data-text="Awesome" onclick="window.location.href='/sign-up'">
                        <span class="actual-text">&nbsp;SignUp&nbsp;</span>
                        <span aria-hidden="true" class="hover-text">&nbsp;SignUp&nbsp;</span>
                    </button>
                </li>
            </ul>

            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="button" data-text="Awesome" type="submit">
                    <span class="actual-text">&nbsp;Search&nbsp;</span>
                    <span aria-hidden="true" class="hover-text">&nbsp;Search&nbsp;</span>
                </button>
            </form>
          </div>
        </div>
      </nav>

    <body style="
    background-color: bisque;">

        <section class="Hero-section">

            <div class="Company">
                
                <div class="MainLogo">
                    <img src="/images/logotransparent.png" class="rounded mx-auto d-block" alt="MainLogo">
                </div>

                <div class="Name">
                    <h1>Culinary Parcel</h1>
                </div>
                <div  class="Company-tagline">
                    <p>Unwrap Flavor, Savor the Journey: Culinary Parcel Beyond Ordinary</p>
                </div>
                
            </div>
        </section>
    
        <section class="Content-section">
            <div class="How-It-Works">
                <h2>HOW IT WORKS</h2>
            </div>
    
            <div class="How-It-Works_btn">
                <button class="How-It-Works_Btn" onclick="window.location.href='/videos/how-it-works.mp4'">
                    How-It-Works
                </button>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col col-sm-6 col-md-4 col-lg-3">
                        <div class="card" style="width: 18rem;">
                            <img src="/images/farmingImage.jpg" class="card-img-top" alt="farming-image">
                            <div class="card-body">
                              <h5 class="card-title">We grow our own veges</h5>
                              <p class="card-text">                            
                                Cultivating a sustainable lifestyle, we proudly grow and harvest 
                                our own vibrant vegetables, ensuring freshness, quality, 
                                and a connection to the earth in every bite</p>
                              <a href="/meal-kits" class="btn btn-primary">Checkout More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col col-sm-6 col-md-4 col-lg-3">
                        <div class="card" style="width: 18rem;">
                            <img src="/images/choose.jpg" class="card-img-top" alt="choosing-image">
                            <div class="card-body">
                                <h5 class="card-title">pick your choice of veges</h5>
                                <p class="card-text">                            
                                Select your preferred assortment of fresh vegetables 
                                to customize and personalize your culinary creations with the finest 
                                and healthiest ingredients available.
                                </p>
                              <a href="/meal-kits" class="btn btn-primary">Checkout More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col col-sm-6 col-md-4 col-lg-3">
                        <div class="card" style="width: 18rem;">
                            <img src="/images/fastDelivery.jpg" class="card-img-top" alt="delivery-image">
                            <div class="card-body">
                                <h5 class="card-title">fastest delivery</h5>
                                <p class="card-text">                            
                                Swift and efficient, our service guarantees the fastest delivery 
                                to your doorstep, ensuring your convenience is our top priority. 
                                Experience prompt and reliable service.
                                </p>
                              <a href="/meal-kits" class="btn btn-primary">Checkout More</a>
                          </div>
                        </div>
                    </div>
                    <div class="col col-sm-6 col-md-4 col-lg-3">
                        <div class="card" style="width: 18rem;">
                            <img src="/images/goodMeal.jpg" class="card-img-top" alt="goodMeal">
                            <div class="card-body">
                                <h5 class="card-title">good meal good life</h5>
                                <p class="card-text">                            
                                "Good meal, good life" encapsulates the philosophy that 
                                the quality of our meals directly influences our overall well-being and enjoyment of life. 
                                </p>
                              <a href="/meal-kits" class="btn btn-primary">Checkout More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </section>

        <section class="Meal-kits">
            
            <div id="carouselExampleDark" class="carousel carousel-dark slide">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="10000">
                    <img src="/images/BreakFast.jpg" class="d-block w-100" alt="BreakFast">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Morning Glory Medley</h5>
                        <p>A hearty meal with eggs, bacon, sausage, grilled tomatoes, mushrooms, baked beans, and toast.</p>
                        <p class="price">$19.99</p>
                    </div>
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img src="/images/Lunch.jpg" class="d-block w-100" alt="Lunch">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Culinary Noon Delights</h5>
                        <p>Culinary Noon Delights invites you to indulge in a midday culinary extravaganza, 
                        where flavors dance under the sun, creating a delightful symphony of taste and texture.</p>
                        <p class="price">$19.99</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="/images/Dinner.jpg" class="d-block w-100" alt="Dinner">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Flamboyant Feast</h5>
                        <p>At Flamboyant Feast, immerse yourself in an opulent dining experience where
                        each dish is a vibrant masterpiece, showcasing the artistry of flavors 
                        and the grandeur of gastronomy</p>
                        <p class="price">$19.99</p>
                    </div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </section>

        <footer>
            <div class="footer-content">
                <div class="footer-section about">
                    <a href="/About"><h3>About Us</h3></a>
                </div>
                <div class="footer-section contact">
                    <h3>Contact Us</h3>
                    <p>Email: info@example.com</p>
                    <p>Phone: +1 123 456 789</p>
                </div>
                <div class="footer-section links">
                    <h3>Quick Links</h3>
                    <ul>
                        <li><a href="/home">Home</a></li>
                        <li><a href="/menu">Menu</a></li>
                        <li><a href="/about">About Us</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
                <div class="footer-section social">
                    <h3>Follow Us</h3>
                    <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
            <div class="footer-bottom">
                &copy; 2024 Your Company Name. All rights reserved.
            </div>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </body>

</html>