<body>
    <div class="container">
        <div class="row justify-content-center align-items-center" style="height: 100vh;">
            <div class="col-md-6" style="
                display: flex;
                width: 100%;
                align-items: center;
                padding: 50px;
                justify-content: center;
                flex-direction: column;
                text-align: center;">
                <div class="card" style="width:100%">
                    <div class="card-body">
                        <h1 class="wlcm-title text-center">Welcome!</h1>
                        <p class="welcome-message text-center">Thank you for signing up. We're glad to have you on board!</p>
                        <p class="welcome-message text-center">Start exploring our website now.</p>
                        <div class="text-center">
                            <a href="/" class="wlcm-btn btn btn-primary">Explore</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
