<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home Page</title>
        <link rel="stylesheet" href="/css/home.css"/>
        
        <!--Fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap" rel="stylesheet">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    </head>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        
        <div class="container-fluid" style="background-color: antiquewhite;">
            <img src="/images/Logo.png" alt="Logo" width="30" height="40" class="d-inline-block align-text-top"
            style="    
            width: 3%;
            border-radius: 50%;">

            <a class="navbar-brand" href="/">Culinary Parcel</a>
          
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              
                    <li class="nav-item">
                        <button class="button" data-text="Awesome" onclick="window.location.href='/on-the-menu'">
                            <span class="actual-text">&nbsp;Menu&nbsp;</span>
                            <span aria-hidden="true" class="hover-text">&nbsp;Menu&nbsp;</span>
                        </button>
                    </li>
              
              
                    <li class="nav-item">
                        <button class="button" data-text="Awesome" onclick="window.location.href='/about'">
                            <span class="actual-text">&nbsp;About&nbsp;</span>
                            <span aria-hidden="true" class="hover-text">&nbsp;About&nbsp;</span>
                        </button>
                    </li>

                    <li class="nav-item">
                        <button class="button" data-text="Awesome" onclick="window.location.href='/log-in'">
                            <span class="actual-text">&nbsp;LogIn&nbsp;</span>
                            <span aria-hidden="true" class="hover-text">&nbsp;LogIn&nbsp;</span>
                        </button>
                    </li>

                    <li class="nav-item">
                        <button class="button" data-text="Awesome" onclick="window.location.href='/sign-up'">
                            <span class="actual-text">&nbsp;SignUp&nbsp;</span>
                            <span aria-hidden="true" class="hover-text">&nbsp;SignUp&nbsp;</span>
                        </button>
                    </li>
                </ul>

                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="button" data-text="Awesome" type="submit">
                            <span class="actual-text">&nbsp;Search&nbsp;</span>
                            <span aria-hidden="true" class="hover-text">&nbsp;Search&nbsp;</span>
                        </button>
                </form>
            </div>
        </div>
      </nav>