<body>

    <div class="about-us-container">
      <div class="jumbotron">
        <h1 class="display-4">About Culinary Parcel</h1>
        <p class="lead">Bringing delicious meals to your doorstep!</p>
        <hr class="my-4">
        <p>Culinary Parcel is passionate about providing high-quality meal kits that make cooking at home a breeze.</p>
      </div>
  
      <div class="row">
        <div class="col-md-4">
          <div class="team-member">
            <!--<img src="founder.jpg" alt="Founder">-->
            <h2>krutin polra</h2>
            <p>Founder & CEO</p>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
  