<section class="Hero-section">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="Company">
                    <div class="MainLogo">
                        <img src="/images/logotransparent.png" class="rounded" alt="MainLogo">
                    </div>
                    <div class="Name">
                        <h1>Culinary Parcel</h1>
                    </div>
                    <div class="Company-tagline">
                        <p>Unwrap Flavor, Savor the Journey: Culinary Parcel Beyond Ordinary</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="Content-section">
    <div class="How-It-Works">
        <h2>HOW IT WORKS</h2>
    </div>
    
    <div class="How-It-Works_btn">
        <a href="/videos/how-it-works.mp4" class="How-It-Works_Btn">How It Works</a>
    </div>
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4 d-flex align-items-stretch">
                <div class="card w-100" style="width: 18rem;">
                    <img src="/images/farmingImage.jpg" class="card-img-top" alt="farming-image">
                    <div class="card-body">
                        <h4 class="card-title">We grow our own veges</h5>
                        <p class="card-text">                            
                        Cultivating a sustainable lifestyle, we proudly grow and harvest 
                        our own vibrant vegetables, ensuring freshness, quality, 
                        and a connection to the earth in every bite</p>
                        <a href="/meal-kits" class="btn btn-primary">Checkout More</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4 d-flex align-items-stretch">
                <div class="card w-100" style="width: 18rem;">
                    <img src="/images/choose.jpg" class="card-img-top" alt="choosing-image">
                    <div class="card-body">
                        <h4 class="card-title">pick your choice of veges</h5>
                        <p class="card-text">                            
                        Select your preferred assortment of fresh vegetables 
                        to customize and personalize your culinary creations with the finest 
                        and healthiest ingredients available.
                        </p>
                        <a href="/meal-kits" class="btn btn-primary">Checkout More</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4 d-flex align-items-stretch">
                <div class="card w-100" style="width: 18rem;">
                    <img src="/images/fastDelivery.jpg" class="card-img-top" alt="delivery-image">
                    <div class="card-body">
                        <h4 class="card-title">fastest delivery</h5>
                        <p class="card-text">                            
                        Swift and efficient, our service guarantees the fastest delivery 
                        to your doorstep, ensuring your convenience is our top priority. 
                        Experience prompt and reliable service.
                        </p>
                        <a href="/meal-kits" class="btn btn-primary">Checkout More</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4 d-flex align-items-stretch">
                <div class="card w-100" style="width: 18rem;">
                    <img src="/images/goodMeal.jpg" class="card-img-top" alt="goodMeal">
                    <div class="card-body">
                        <h4 class="card-title">good meal good life</h5>
                        <p class="card-text">                            
                        "Good meal, good life" encapsulates the philosophy that 
                        the quality of our meals directly influences our overall well-being and enjoyment of life. 
                        </p>
                        <a href="/meal-kits" class="btn btn-primary">Checkout More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
            
</section>

<%- include('partials/meal-kits') %>