<div class="sign-up-container">
    <div class="form_area col-12 col-sm-6 col-md-4 col-lg-3 mb-4 d-flex align-items-stretch">
        <p class="title">LOG IN</p>
        <form action="/login" method="POST"> <!-- Update action to point to login route -->
            <div class="form_group">
                <label class="sub_title" for="email">Email</label>
                <input placeholder="Enter your email" id="email" name="email" class="form_style" type="text">
                <% if (errors && errors.email) { %>
                    <p class="error" style="color:aliceblue"><%= errors.email %></p>
                <% } %>
            </div>
            <div class="form_group">
                <label class="sub_title" for="password">Password</label>
                <input placeholder="Enter your password" id="password" name="password" class="form_style" type="password">
                <% if (errors && errors.password) { %>
                    <p class="error" style="color:aliceblue"><%= errors.password %></p>
                <% } %>
            </div>
            <div>
                <button class="sign-up-btn">Log IN</button>
                <p><a class="link" href="/forgot-password">Forgot password?</a></p> <!-- Update href to point to forgot-password route -->
            </div>
        </form>
    </div>
</div>
