body{
    background-color: darkolivegreen;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content:flex-end;
    height: 70px;
    background-color: bisque;
    align-items: center;
    margin: auto;
    z-index: 1;
}

nav img.Logo {
    position: relative;
    display: block;
    float: left;
    width: 58px;
    height: 58px;
    border-radius: 50%;
}

.On-the-menu:hover, .Log-in:hover, .Sign-up:hover, .Contacts:hover, .About:hover {
    background-color: #ddd;
    color: #333;
}

.On-the-menu, .Log-in, .Sign-up, .Contacts, .About {
    position: relative;
    color: #ddd;
    background-color: #444;
    border: none;
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    padding: 12px 60px 12px 60px;
    margin: 0px 50px 0px 48px;
}

nav .Sign-up{
    background-color:darkorange;
}

nav .Log-in{
    background-color: #04AA6D;
}

body .Hero-section{
    background-image: url('/images/backgroundImage.jpg');
    background-size: cover;
    background-position: center;
    height: 86vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 82px;
    border-radius: 12px;
}

.Company-name h1{

    text-align: center;
    max-width: 600px;
    font-family: cursive;
    font-size: 87px;
    font-weight: 500;
    display: flex;
    justify-content: center;
}

 .Company-tagline p{

    text-align: center;
    font-weight: 500;
    display: flex;
    justify-content: center;
    font-size: xx-large;
}

.Card-container {
    width: 30%;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    background-color: bisque;
    display: inline-flex;
}

.Card-container:hover {
    transform: scale(1.05);
}

img {
    width: 50%;
    height: 50%;
    object-fit: cover;
}

.Cards {
    padding: 15px;
}

h3 {
    margin: 0;
    font-size: 18px;
}

 p {
    margin: 10px 0;
    color: #555;
}


